/*Images*/
img.pfp {
    border-radius: 90px;
}

img.Link {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: baseline;
    border-radius: 25px;
}

img.Projects {
    width: 90px;
    height: 90px;
}

img.Instagram {
    width: 65px;
    height: 35px;
    border: none;
}

img.Facebook {
    width: 35px;
    height: 30px;
    border: none;
    display: flex;
    align-self: center;
}

img.Twitter {
    width: 45px;
    height: 30px;
    border: none;

}

img.Github {
    width: 35px;
    height: 30px;
    border: none;

}

img.Netlify {
    width: 65px;
    height: 60px;
    border: none;

}

/*xxxxxx--------------------xxxxxx*/

/*Extra*/

body {
    font-family: sans-serif;
    background-color: rgb(181, 181, 181);

}

div {
    overflow: hidden;
}

button {
    border: none;
}

button:hover {
    cursor: pointer;
}

h1 {
    display: flex;
    justify-content: center;
}

p.pfp {
    margin-left: 20px;
}

/*xxxxxx--------------------xxxxxx*/

/*Div.Head*/

div.Head {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(181, 181, 181);
}

div.Head p {
    font-family: Libre Baskerville;
    align-self: center;
    gap: 20px;
}



/*xxxxxx--------------------xxxxxx*/

/*Div.Projects*/

div.Mid {
    background-color: rgb(181, 181, 181);
    overflow: hidden;
}

div.Mid h1 {
    font-family: Rodchenk;
}

div.Mid p {
    font-family: Roboto;
}

.Projects_1 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.Projects_2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 20px;
}


div.Projects {
    background-color: white;
    max-width: 250px;
    height: 400px;
    box-sizing: border-box;
    border-radius: 30px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    box-shadow: 10px;
    border-style: solid;
    border-color: lightskyblue;
}

div.Projects p {
    display: flex;
    justify-content: center;
    align-content: center;
}

/*xxxxxx--------------------xxxxxx*/

/*Div.Lower*/

div.Lower {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    align-items: center;
    align-self: last baseline;
}

div.Lower p {
    font-family: Libre Baskerville;
}

button.Call {
    background-color: black;
    color: white;
    border: none;
    border-radius: 25px;
    height: 30px;
    width: 150px;
}

p.Detail {
    color: black;
    font-family: sans-serif;
    margin: 0;
}

/*xxxxxx--------------------xxxxxx*/

/*Media Quiery*/

@media only screen and (max-width:769px) {
    div.Projects_1 {
        flex-direction: row;
        gap: 10px;
    }

    div.Projects_2 {
        flex-direction: row;
        gap: 10px;
    }

    p {
        font-size: small;
    }

    h1 {
        font-size: small;
    }

    img.Projects {
        width: 45px;
        height: 45px;
    }

    div.Projects {
        width: 150px;
        height: 250px;
        border-radius: 15px;
        
    }

    img.Link {
        width: 12.5px;
        height: 12.5px;
    }

    img.pfp {
        width: 70px;
        height: 70px;
    }
    div.Lower {
        margin-top: 120px;
        width: 100;
    }

}

@media only screen and (max-width:425px) {
    div.Mid {
       display: flex;
       justify-content: space-around;
    }
    
    div.Projects_1 {
        flex-direction: column;
        gap: 10px;
    }

    div.Projects_2 {
        flex-direction: column;
        gap: 10px;
    }

    p {
        font-size: x-small;
    }

    h1 {
        font-size: x-small;
    }

    img.Projects {
        width: 45px;
        height: 45px;
    }

    div.Projects {
        width: 130px;
        height: 250px;
        border-radius: 15px;
        align-items: center;
        justify-content: center;
    }

    div.Project button {
        background-color: white;
        margin-bottom: 50px;
        margin-top: -50px;
        width: 20px;
        font-size: 5px;
        align-items: center;
        display: flex;
        justify-content: center;
    }

    img.Link {
        width: 10px;
        height: 10px;
    }

    img.pfp {
        width: 70px;
        height: 70px;
    }
    div.Lower {
        margin-top: 120px;
        width: 100%;
    }

    div.Main {
        display: flex;
        flex-direction: column;
    }
    
    img.Instagram {
        width: 40px;
        height: 25px;
        border: none;
    }
    
    img.Facebook {
        width: 25px;
        height: 25px;
        border: none;
        display: flex;
        align-self: center;
    }
    
    img.Twitter {
        width: 40px;
        height: 25px;
        border: none;
    
    }
    
    img.Github {
        width: 30px;
        height: 25px;
        border: none;
    
    }
    
    img.Netlify {
        width: 50px;
        height: 55px;
        border: none;
    
    }

    div.Lower p {
        height: 0px;
        width: 0px;
        overflow: hidden;
    }

}

/*Fonts*/
@font-face {
    font-family: Libre Baskerville;
    src: url(./LibreBaskerville-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(./Roboto-Regular.ttf)
}

@font-face {
    font-family: Rodchenk;
    src: url(./Rodchenk.ttf);
}